{{ define "head-import" }}
<link rel="stylesheet" type="text/css" href="https://cdn.kde.org/breeze-icons/icons.css">
{{ $style := resources.Get "scss/index.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

{{ $js := resources.Get "js/index.js" | minify | fingerprint }}
<script src="{{ $js.Permalink }}" defer=""></script>
{{ end }}

{{ define "main" }}
{{ $paginator := .Paginate (where (where .Site.AllPages ".Kind" "page") "Section" .Lang) }}
{{ if eq $paginator.PageNumber 1 }}
{{ partial "main-info.html" . }}
{{ end }}

<div class="btn-group-vertical post-nav">
  <button type="button" class="btn btn-default" onclick="navPosts(-1);" title="{{ i18n "up-post" }}">
    <i class="icon icon_go-up-skip"></i>
  </button>
  <button type="button" class="btn btn-default" onclick="navPosts(1);" title="{{ i18n "down-post" }}">
    <i class="icon icon_go-down-skip"></i>
  </button>
</div>
<div class="container my-4 p-0">
  {{ template "_internal/pagination.html" . }}
  {{ range $index, $post := $paginator.Pages }}
    <div class="single-post" id="{{ add $index 1 }}">
      {{ partial "calendar.html" (dict "index" $index "post" $post) }}
      {{ partial "single-post.html" (dict "index" $index "post" $post) }}
    </div>
  {{ end }}
  {{ template "_internal/pagination.html" . }}
</div>
{{ end }}
